/**
 * Calendar toolbar
 */
.availability-calendar-toolbar {
	padding-bottom: 15px;
	font-size: 1.4em;
	font-weight: bold;
}

.availability-calendar-toolbar span:last-child {float: right}

.availability-calendar-toolbar input {
	padding: 7px 14px;
	background: #FF5722;
    border: 1px solid white;
	cursor: pointer;
	outline: 0;
    color:white;
}

.availability-calendar-toolbar input:first-child {
	margin-right: 5px;
	padding: 8px 14px;
	border-radius: 6px;
}

.availability-calendar-toolbar input:nth-child(2) {border-radius: 6px 0 0 6px}

.availability-calendar-toolbar input:last-child {
	margin-left: -1px;
	border-radius: 0 6px 6px 0;
}

.availability-calendar-toolbar input:hover {
	background: #FF5722;
}

/**
 * Calendar table and cells
 */
.availability-calendar {
	width: 100%;
	background: #FFF;
	table-layout: fixed;
	border-collapse: collapse;
}

.availability-calendar th, .availability-calendar td {
	border: 1px solid #B6B6B6;
	padding: 5px;
}

.availability-calendar td {
	height: 70px;
	vertical-align: top;
	text-align: right;
}

.availability-calendar .ex-month {opacity: 0.4}
.availability-calendar .unavailable {position: relative}

.availability-calendar .unavailable div {
	position: absolute;
	top: 40%;
	left: 0;
	right: -1px;
	height: 40%;
	background: #FF5722;
}

.availability-calendar .unavailable:last-child div {right: 0}

.availability-calendar .unavailable .first {
	left: 0%;
	border-radius: 6px 0 0 6px;
	border-left: 1px solid #A33;
}

.availability-calendar .unavailable .last {
	right: 0%;
	border-radius: 0 6px 6px 0;
	border-right: 1px solid #A33;
}
